In [6]:
%pip install pretty_html_table
%pip install pyodbc

Collecting pretty_html_table
  Downloading pretty_html_table-0.9.16-py3-none-any.whl (6.8 kB)
Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (from pretty_html_table) (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\admin\anaconda3\lib\site-packages (from pandas->pretty_html_table) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas->pretty_html_table) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas->pretty_html_table) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pretty_html_table) (1.16.0)
Installing collected packages: pretty-html-table
Successfully installed pretty-html-table-0.9.16
Note: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/pretty-html-table/

In [23]:
import pandas as pd
import requests
import credentials as creds
import smtplib 
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
import pyodbc
from pretty_html_table import build_table
from IPython.display import HTML,display

In [24]:
# Works better with microsoft's outlook
def send_mail(df):
    message = MIMEMultipart()
    message['Subject'] = 'New Data from today'
    message['From'] = creds.sender
    message['To'] = creds.recipient

    html = MIMEText(df, "html")
    message.attach(html)
    with smtplib.SMTP("smtp.office365.com", 587) as server:
        server.starttls()
        server.login(creds.sender, creds.password)
        server.sendmail(creds.sender, creds.recipient, message.as_string())

In [25]:
def gdp_data():
    gdp = {
        'Country': ['United States', 'China', 'Japan', 'Germany', 'India'],
                'GDP': ['$21.44 trillion', '$14.14 trillion', '$5.15 trillion', '$3.86 trillion', '$2.94 trillion']
    }
    data = pd.DataFrame(gdp)
    return data

In [26]:
data = gdp_data()
data

         Country              GDP
0  United States  $21.44 trillion
1          China  $14.14 trillion
2          Japan   $5.15 trillion
3        Germany   $3.86 trillion
4          India   $2.94 trillion

In [32]:
output = build_table(data, 'blue_light')
display(HTML(output))

In [ ]:
send_mail(output)